<!DOCTYPE html>
<html>

<head>
  <title>SAVE THE DELTA</title>
</head>
    <title>SAVE THE DELTA</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
<!-- Favicons -->
    <link href="{{url_for('static', filename="vendor/bootstrap/img/logo-oficial.png")}}" rel="icon">

<body>
  <section>
    <div class="container-fluid">
      {% block content %}

      <!-- page content -->
	     
      {% endblock %}
     </div> 
   </section>
</body>
</html>
