<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>SAVE THE DELTA - LOGIN</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{url_for('static', filename="vendor/bootstrap/img/logo-oficial.png")}}" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{url_for('static', filename="vendor/bootstrap/vendor/bootstrap2/css/bootstrap.min.css")}}" rel="stylesheet">
  <link href="{{url_for('static', filename="vendor/bootstrap/vendor/icofont/icofont.min.css")}}" rel="stylesheet">
  <link href="{{url_for('static', filename="vendor/bootstrap/vendor/boxicons/css/boxicons.min.css")}}" rel="stylesheet">
  <link href="{{url_for('static', filename="vendor/bootstrap/vendor/venobox/venobox.css")}}" rel="stylesheet">
  <link href="{{url_for('static', filename="vendor/bootstrap/vendor/remixicon/remixicon.css")}}" rel="stylesheet">
  <link href="{{url_for('static', filename="vendor/bootstrap/vendor/owl.carousel/owl.carousel.min.css")}}" rel="stylesheet">
  <link href="{{url_for('static', filename="vendor/bootstrap/vendor/aos/aos.css")}}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{url_for('static', filename="vendor/bootstrap/css/style.css")}}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Bootslander - v2.1.0
  * Template URL: https://bootstrapmade.com/bootslander-free-bootstrap-landing-page-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href=""><span>SAVE THE DELTA</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="{{url_for('static', filename="vendor/bootstrap/img/logo.png")}}" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="#header">Inici</a></li>
          <li><a href="#rules">Regles</a></li>
          <li><a href="#features">Rànquing</a></li>
          <li><a href="#context">Context</a></li>
          <li><a href="#team">Equip</a></li>
          <li><a href="#faq">FAQ</a></li>
          <li><a href="/">Surt</a></li>
        </ul>
      </nav><!-- .nav-menu -->
      <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
    </div>
    
  </header><!-- End Header -->
    
  <!-- ======= Hero Section ======= -->
  <section id="hero">

    <div class="container">
      <div class="row">
        <div class="col-lg-7 pt-5 pt-lg-0 order-2 order-lg-1 d-flex align-items-center">
          <div data-aos="zoom-out">
            <h1>Desenvolupament d'una aplicació gamificada d'ajuda a l'estudi <span>PROJECTE II</span></h1>
            <h2>Nosaltres som SAVE THE DELTA</h2>
            <div class="text-center text-lg-left">
              <a href="#rules" class="btn-get-started scrollto">Viu l'experiència</a>
            </div>
          </div>
        </div>
        <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out" data-aos-delay="300">
          <img src="{{url_for('static', filename="vendor/bootstrap/img/logo-oficial.png")}}" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
      <defs>
        <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
      </defs>
      <g class="wave1">
        <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
      </g>
      <g class="wave2">
        <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
      </g>
      <g class="wave3">
        <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
      </g>
    </svg>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="rules" class="about">
      <div class="container">
        <div class="section-title" data-aos="fade-up">
          <h2>Regles</h2>
          <p>Aprèn a jugar</p>
        </div>
      <div class="container">

        <div class="row content">
          <div class="col-lg-3"> 
          </div>
          <div class="col-lg-6 col-md-4" data-aos="fade-right"> 
                <iframe width="560" height="315" src="https://www.youtube.com/embed/9lDyqGlEg7o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <div class="col-lg-3"> 
          </div>

          <div class="row" data-aos="fade-up">
            <br><p><h3>ABANS D'INICIAR LA PARTIDA, NO US OBLIDEU DE LLEGIR LES REGLES</h3></p><br>
            <ul>
              <p><i class="icofont-label"></i> Els jugadors disposaran d'un total de 20 minuts per a completar l'escape room Save the Delta.</p>
              <p><i class="icofont-label"></i> En cas que algun dels jugadors no aconsegueixi capturar el cranc blau en aquests 20 minuts, el jugador perdrà la partida i el seu temps no serà comptabilitzat pel rànquing.</p>
              <p><i class="icofont-label"></i> És necessari crear un compte.</p>
              <p><i class="icofont-label"></i> És necessari disposar d’un dispositiu Android amb càmera.</p>
              <p><i class="icofont-label"></i> Les partides es realitzaran en grups de 3-4 persones.</p>
              <p><i class="icofont-label"></i> El joc es podrà realitzar en qualsevol espai, recomanablement indoor.</p>
              <p><i class="icofont-label"></i> El joc és recomanable per complementar els coneixements dels alumnes sobre els ecosistemes, les plagues i la situació actual del Delta de l’Ebre.</p>
              <p><i class="icofont-label"></i> El joc conté una partida introductòria amb preguntes competencials, i posteriorment un total de 3 enigmes.</p>
              <p><i class="icofont-label"></i> Serà indispensable completar la part introductòria per a entrar al Delta de l’Ebre.</p>
              <p><i class="icofont-label"></i> Cada enigma proporcionarà al jugador un objecte per avançar en el transcurs de la història.</p>
              <p><i class="icofont-label"></i> El jugador/equip no podrà accedir al següent enigma sense haver resolt l’anterior.</p>
              <p><i class="icofont-label"></i> Cada resposta errònia restarà un total de 5 segons.</p>
              <p><i class="icofont-label"></i> Cada grup podrà comprovar la seva posició en el rànking una vegada finalitzada la partida.</p>
            </ul>
          </div>

          <div class="col-lg-4 col-md-4">
              <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
                  <div class="icon"><a href="{{url_for('static', filename="vendor/bootstrap/img/regles.pdf")}}" download><i class="icofont-papers"></i></div>
                  <h4 class="title">Descarrega les regles</a></h4>
                  <p class="description">Descarrega't les regles del joc en format PDF</p>
              </div>
          </div>

          <div class="col-lg-4 col-md-4">
              <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
                  <div class="icon"><a href="{{url_for('static', filename="vendor/bootstrap/QR/QRdownload.pdf")}}" download><i class="icofont-qr-code"></i></div>
                  <h4 class="title">Descarrega els QR</a></h4>
                  <p class="description">Aconsegueix els QR necessaris pel joc en format PDF</p>
              </div>
          </div>
          
           <div class="col-lg-4 col-md-4">
              <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
                  <div class="icon"><a href="{{url_for('static', filename="vendor/bootstrap/img/howtouse.pdf")}}" download><i class="icofont-papers"></i></div>
                  <h4 class="title">Requeriments d'ús</a></h4>
                  <p class="description">Descarrega't el manual amb el requeriments necessaris</p>
              </div>
          </div>

        </div>

      </div>
    </section><!-- End rules Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Rànquing</h2>
          <p>Els millors equips són:</p>
        </div>

        <div class="row" data-aos="fade-left">
          <div class="col-lg-3 col-md-4">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="50">
              <i class="ri-number-1" style="color: #ffbb2c;"></i>
              <h3>{{equips[0].nom}}</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
              <i class="ri-timer-fill" style="color: #555555;"></i>
              <h3>{{equips[0].temps}} s</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="150">
              <i class="ri-number-4" style="color: #0EBFE9;"></i>
              <h3>{{equips[3].nom}}</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
              <i class="ri-timer-fill" style="color: #555555;"></i>
              <h3>{{equips[3].temps}} s</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="250">
              <i class="ri-number-2" style="color: #D3D3D3;"></i>
              <h3>{{equips[1].nom}}</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
              <i class="ri-timer-fill" style="color: #555555;"></i>
              <h3>{{equips[1].temps}} s</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="350">
              <i class="ri-number-5" style="color: #0EBFE9;"></i>
              <h3>{{equips[4].nom}}</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="400">
              <i class="ri-timer-fill" style="color: #555555;"></i>
              <h3>{{equips[4].temps}} s</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="450">
              <i class="ri-number-3" style="color: #CD7F32;"></i>
              <h3>{{equips[2].nom}}</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="500">
              <i class="ri-timer-fill" style="color: #555555;"></i>
              <h3>{{equips[2].temps}} s</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="600">
              <i class="ri-number-6" style="color: #0EBFE9;"></i>
              <h3>{{equips[5].nom}}</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="600">
              <i class="ri-timer-fill" style="color: #555555;"></i>
              <h3>{{equips[5].temps}} s</a></h3>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Features Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container">

        <div class="row" data-aos="fade-up">

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="icofont-users-alt-5"></i>
              <span data-toggle="counter-up">{{p}}</span>
              <p>Total de participants</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
            <div class="count-box">
              <i class="icofont-clock-time"></i>
              <span data-toggle="counter-up">{{t}}</span>
              <p>Temps mitjà</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="icofont-simple-smile"></i>
              <span data-toggle="counter-up">{{equips[0].temps}}</span>
              <p>Millor temps</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="icofont-sad"></i>
              <span data-toggle="counter-up">{{equips[p-1].temps}}</span>
              <p>Pitjor temps</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Details Section ======= -->
    <section id="context" class="context">
      <div class="container">

      <div class="section-title" data-aos="fade-up">
          <h2>Context</h2>
          <p>INFORMACIÓ GENERAL</p>
      </div>

        <div class="row content">
          <div class="col-md-4" data-aos="fade-right">
            <img src="{{url_for('static', filename="vendor/bootstrap/img/gallery/etseib.jpg")}}" class="img-fluid" alt="">
          </div>
          <div class="col-md-8 pt-4" data-aos="fade-up">
            <h3>Un grup d'estudiants format a l'ETSEIB</h3>
            <p class="font-italic">
              Som 3 joves emprenedors que hem creat una aplicació gamificada per a complementar l'educació dels nens sobre les plagues i els problemes medioambientals.
              En la nostra aplicació aprendràs conceptes relacionats amb:
            </p>
            <ul>
              <p><i class="icofont-check"></i> Cranc blau al Delta de l'Ebre</p>
              <p><i class="icofont-check"></i> Cranc blau com a espècie</p>
              <p><i class="icofont-check"></i> Conseqüències de la plaga del cranc blau</p>
              <p><i class="icofont-check"></i> Importància de la preservació dels ecosistemes</p>
            </ul>
          </div>
        </div>

          
          
          
        <div class="row content">
          <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
            <img src="{{url_for('static', filename="vendor/bootstrap/img/gallery/delta.jpg")}}" class="img-fluid" alt="">
          </div>
          <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
            <h3>La temàtica relacionada amb el Delta de l'Ebre</h3>
            <p class="font-italic">
              Ens trobem en l'any 2050, una espècie invasora ha ocupat completament les costes catalanes, provocant danys irreparables a l'ecosistema i extingint el 80% de les espècies. 
            </p>
            <p>
              El departament de física de l'ETSEIB ha fabricat una màquina del temps i el president de la Generalitat ens ha encomanat
              la missió de viatjar al passat, concretament en l'any 2012, per a capturar l'espècie invasora abans que es reprodueixi.
            </p>
            <p>
              SERÀS CAPAÇ DE CAPTURAR L'ESPÈCIE INVASORA ABANS QUE SIGUI MASSA TARD?
            </p>
          </div>
        </div>

      </div>
    </section><!-- End Details Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Team</h2>
          <p>El nostre equip</p>
        </div>

        <div class="row" data-aos="fade-left">

          <div class="col-lg-3 col-md-6">
            <div class="member" data-aos="zoom-in" data-aos-delay="100">
              <div class="pic"><img src="{{url_for('static', filename="vendor/bootstrap/img/team/vic.jpg")}}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Victor Morales</h4>
                <span>Responsable de producció i codi web</span>
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href="https://www.facebook.com/victor.moralespalacios"><i class="icofont-facebook"></i></a>
                  <a href="https://www.instagram.com/victormp.13/"><i class="icofont-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/v%C3%ADctor-morales-palacios-a8b275160/"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        
          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="member" data-aos="zoom-in" data-aos-delay="300">
              <div class="pic"><img src="{{url_for('static', filename="vendor/bootstrap/img/team/Josep.jpg")}}"  class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Josep Rodríguez</h4>
                <span>Responsable del disseny i validació</span>
                <div class="social">
                  <a href="https://twitter.com/Josep7Rodriguez"><i class="icofont-twitter"></i></a>
                  <a href="https://www.facebook.com/josep.mollet"><i class="icofont-facebook"></i></a>
                  <a href="https://www.instagram.com/jrodri899/"><i class="icofont-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/jroes99"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="member" data-aos="zoom-in" data-aos-delay="300">
              <div class="pic"><img src="{{url_for('static', filename="vendor/bootstrap/img/team/guillem.jpg")}}"  class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Guillem Costa</h4>
                <span>Responsable de comunicació i app mòbil</span>
              </div>
            </div>
          </div>
            
          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="member" data-aos="zoom-in" data-aos-delay="300">
              <div class="pic"><img src="{{url_for('static', filename="vendor/bootstrap/img/team/profe.jpg")}}"  class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Dani tost</h4>
                <span>Cap de projecte i supervisió</span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= FAQ Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>FAQ</h2>
          <p>Preguntes més freqüents</p>
        </div>

        <div class="faq-list">
          <ul>
            <li data-aos="fade-up"  data-aos-delay="100">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-1" class="collapsed">Per quin rang d'edat està pensat aquest tipus de joc? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-1" class="collapse show" data-parent=".faq-list">
                <p>
                  Està pensat per a nens i nenes d'entre 12 a 16 anys. Cal remarcar que s'haurien d'explicar alguns coneixements sobre el temari per poder jugar.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-2" class="collapsed">Què és necessita per poder jugar? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-2" class="collapse" data-parent=".faq-list">
                <p>
                  Un espai (pot ser obert o tancat) i un dispositiu mòbil o tauleta amb càmera.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-3" class="collapsed">És compatible tant per Android com per iOS? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-3" class="collapse" data-parent=".faq-list">
                <p>
                  Actualment només està disponible per SO Android
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-4" class="collapsed">En quin idioma està disponible? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-4" class="collapse" data-parent=".faq-list">
                <p>
                  El joc està creat només en català. L'escenari i el transcurs de la història és realitzat a terres catalanes i no està pensat fer-ho en castellà i/o anglès.
                </p>
              </div>
            </li>

          </ul>
        </div>

      </div>
    </section><!-- End FAQ Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-md-1">
          </div>
            
          <div class="col-md-3 footer-links">
            <h4>Pàgines d'interès</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="">Inici</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#rules">Regles</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#features">Rànquing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#context">Context</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#team">Equip</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#faq">FAQ</a></li>
            </ul>
              
          </div>

          <div class="col-md-5">
            <div class="footer-info">
              <h3>UPC - ETSEIB</h3>
              <p class="pb-3"><em>La ETSEIB juntament amb l'equip Save the Delta han treballat per dur a terme aquesta aplicació de Projecte II</em></p>
              <p>
                Av. Diagonal, 647 <br>
                08028 Barcelona<br><br>
                <strong>Tel:</strong> +34 93 401 66 15<br>
                <strong>Email:</strong> savethedelta.etseib@gmail.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="https://twitter.com/ETSEIB_UPC" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="https://www.facebook.com/EtseibUpcBcn/" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="https://www.instagram.com/la_upc/" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="https://www.youtube.com/user/upc" class="youTube"><i class="bx bxl-youtube"></i></a>
                <a href="https://www.linkedin.com/school/universitat-politecnica-de-catalunya/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Bootslander</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/bootslander-free-bootstrap-landing-page-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{{url_for('static', filename="vendor/bootstrap/vendor/jquery/jquery.min.js")}}"></script>
  <script src="{{url_for('static', filename="vendor/bootstrap/vendor/bootstrap2/js/bootstrap.bundle.min.js")}}"></script>
  <script src="{{url_for('static', filename="vendor/bootstrap/vendor/jquery.easing/jquery.easing.min.js")}}"></script>
  <script src="{{url_for('static', filename="vendor/bootstrap/vendor/php-email-form/validate.js")}}"></script>
  <script src="{{url_for('static', filename="vendor/bootstrap/vendor/venobox/venobox.min.js")}}"></script>
  <script src="{{url_for('static', filename="vendor/bootstrap/vendor/waypoints/jquery.waypoints.min.js")}}"></script>
  <script src="{{url_for('static', filename="vendor/bootstrap/vendor/counterup/counterup.min.js")}}"></script>
  <script src="{{url_for('static', filename="vendor/bootstrap/vendor/owl.carousel/owl.carousel.min.js")}}"></script>
  <script src="{{url_for('static', filename="vendor/bootstrap/vendor/aos/aos.js")}}"></script>

  <!-- Template Main JS File -->
  <script src="{{url_for('static', filename="vendor/bootstrap/js/main2.js")}}"></script>

</body>

</html>
